<form #studentForm="ngForm" (ngSubmit)="formSubmit(studentForm)">
    <div>
        <label for="stuName">Enter your name:</label>
        <input [(ngModel)]="student.stuName" name="stuName" type="text" required minlength="5" maxlength="10" #stuName="ngModel">
        <div class="error" *ngIf="stuName.invalid && stuName.touched">
            <div *ngIf="stuName.errors?.['required']">Name is required</div>
            <div *ngIf="stuName.errors?.['minlength']">Minimum length is 5</div>
            <div *ngIf="stuName.errors?.['maxlength']">Maximum length is 10</div>
        </div>
    </div>
    <br>
    <div>
        <label for="rollno">Enter your roll no.:</label>
        <input [(ngModel)]="student.rollNo" name="rollno" type="number" required min="1" max="100" #rollNo="ngModel">
        <div class="error" *ngIf="rollNo.invalid && rollNo.touched">
            <div *ngIf="rollNo.errors?.['required']">Roll no. is required</div>
            <div *ngIf="rollNo.errors?.['min']">Minimum value is 1</div>
            <div *ngIf="rollNo.errors?.['max']">Maximum value is 100</div>
        </div>
    </div>
    <br>
    <div>
        <label for="email">Enter your email:</label>
        <input [(ngModel)]="student.email" name="email" type="text" required email #email="ngModel">
        <div class="error" *ngIf="email.invalid && email.touched">
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">Email is invalid</div>
        </div>
    </div>
    <br>
    <div>
        <label for="panCard">Enter your pan card no.:</label>
        <input [(ngModel)]="student.panCard" name="panCard" type="text" required pattern="[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}" #panCard="ngModel">
        <div class="error" *ngIf="panCard.invalid && panCard.touched">
            <div *ngIf="panCard.errors?.['required']">Pan Card is required</div>
            <div *ngIf="panCard.errors?.['pattern']">Pan card is invalid</div>
        </div>
    </div>
    <br>
    <div>
        <button [disabled]="studentForm.invalid" type="submit">Submit</button>
    </div>
</form>