<button (click)="showBands('pop')">Pop Music</button>
<button (click)="showBands('rock')">Rock Music</button>
<button (click)="showBands('rap')">Hip Hop / Rap</button>
<button (click)="showBands('metal')">Metal</button>

<br><br>

<ul *ngIf="activeMusicType === 'pop'">
    <li *ngFor="let band of popBands">{{ band }}</li>
</ul>

<ul *ngIf="activeMusicType === 'rock'">
    <li *ngFor="let band of rockBands">{{ band }}</li>
</ul>

<ul *ngIf="activeMusicType === 'rap'">
    <li *ngFor="let band of hipHopBands">{{ band }}</li>
</ul>

<ul *ngIf="activeMusicType === 'metal'">
    <li *ngFor="let band of metalBands">{{ band }}</li>
</ul>