.hero-envelope {
    padding: 12px;
    margin: 6px 0;
    cursor: pointer;
}
.hero-serial {
    border: 1px solid rgb(44, 44, 68);
    background-color: rgb(156, 156, 157);
    padding: 12px;
    border-radius: 3px;
}
.hero-name {
    border: 1px solid rgb(44, 44, 68);
    background-color: rgb(149, 149, 221);
    padding: 12px;
    border-radius: 3px;
    min-width: 200px;
}